
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Private Messages :</h3>
<span id="privateMessage"></span>
<br />
<br />
Notifications <span id="counterNotifications" class="badge badge-danger" style="background-color: red; color: white;"></span> <button type="button" id="reset-notification-btn">Reset</button>
<br />
<br />
Username : <span id="username"></span>
<br />
<br />
Message : <textarea id="message"></textarea>
<br />
<span id="show-messages"></span>
<br />
<button type="button" id="diffuser-btn">Diffuser</button>
<button type="button" id="prive-btn">Message Privé</button>
<br />
<br />
<h3>Connected Users List</h3>
<ul id="usersList"></ul>
